layout {
    gaps 10

    center-focused-column "on-overflow"

    preset-column-widths {
        proportion 0.33333
        proportion 0.5
        proportion 0.66667
    }

    default-column-width { proportion 0.5; }

    focus-ring {
        width 3
        active-gradient from="#b4befe" to="#89b4fa" angle=45 relative-to="workspace-view"
        inactive-gradient from="#313244" to="#45475a" angle=45 relative-to="workspace-view"
    }

    border {
        off
        width 2
        active-gradient from="#b4befe" to="#89b4fa" angle=45
        inactive-color "#313244"
        urgent-color "#f38ba8"
    }

    shadow {
        on
        softness 25
        spread 3
        offset x=0 y=4
        color "#00000066"
    }

    struts {
        left 8
        right 8
        top 8
        bottom 8
    }
}
