animations {
    slowdown 0.8

    workspace-switch {
        spring damping-ratio=0.85 stiffness=1000 epsilon=0.0001
    }

    window-open {
        duration-ms 200
        curve "ease-out-expo"
    }

    window-close {
        duration-ms 200
        curve "ease-out-quad"
    }

    horizontal-view-movement {
        spring damping-ratio=0.9 stiffness=900 epsilon=0.0001
    }

    window-movement {
        spring damping-ratio=0.9 stiffness=900 epsilon=0.0001
    }

    window-resize {
        spring damping-ratio=0.9 stiffness=900 epsilon=0.0001
    }


}
